@import "scss/variables.scss";

body {
  margin: 0 !important;
  overflow-x: hidden;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
.subtitles {
  color: $dark-grey;
}
.MuiDataGrid-row {
  cursor: pointer;
}
.MuiDataGrid-columnHeaders {
  background-color: $table-header;
  color: $dark-grey;
}
.MuiDataGrid-cell {
  color: $dark-grey;
}
.MuiDataGrid-columnHeader {
  font-weight: bold;
}
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}
fieldset {
  border: 1px solid $green !important;
  outline: $green !important;
}
.css-3baera-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: $green !important;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root.MuiButton-containedSuccess {
  background: $green !important;
  &:hover {
    background: $dark-green !important;
  }
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px !important;
}
label {
  font-size: 12px !important;
  line-height: 1.8 !important;
}
