@import "scss/variables.scss";

body {
  margin: 0 !important;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.subtitles {
  color: $dark-grey;
}
.MuiDataGrid-row {
  cursor: pointer;
}
.MuiDataGrid-columnHeaders {
  background-color: $light-grey;
  color: $dark-grey;
}
.MuiDataGrid-cell {
  color: $dark-grey;
}
.MuiDataGrid-columnHeader {
  font-weight: bold;
}
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}
fieldset {
  border: 1px solid $green !important;
  outline: $green !important;
}
