@import "scss/variables.scss";

.FormControl {
  width: 240px;
}
.Container {
  padding: 20px;
  background: rgb(236, 236, 241);
  height: 80px;
  align-items: center;
}
.Env {
  padding: 10px;
  background: $green;
  color: white;
  border-radius: 5px;
}
